<p>Hi, {{userName}} !</p>
<p>An account has been created with your mail. Please verify your account</p>
<p>Note:This link will expire in {{expireTime}} hours</p>
<p>Click this link to verify
<span> <a href='http://localhost:3000/verifyEmail/{{userId}}'>Link</a></span></p>
