.verifyBody {
  background-color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verifyCard {
  height: 200px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}
.verifyImg {
  height: 50px;
  width: 60px;
}
.verifyTxt {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  margin-top: 30px;
  align-items: center;
}
